<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" /-->
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/version_management.js"></script>
    <title>产品管理</title>
</head>

<body>

<div class="layui-container">
    <div class="layui-col-xs12" style="height: 20px"></div>
    <div class="layui-row layui-col-space30">
        <div class="layui-col-xs6" >
            <div class="layui-bg-blue" class ="text" style="text-align: center;height: 30px">产品管理</div>
            <table class ="layui-table" style="">
                <tr>
                    <th class ="text" style="text-align: right" bgcolor="#faebd7" >添加新产品：</th>
                    <td >
                        <input id="add_app"   style="height: 35px;width: 80px " name="app name" requeried  placeholder="请输入产品名">
                    </td>
                    <th class ="text" style="text-align: right" bgcolor="#faebd7">创建人：</th>
                    <td>
                        <input id="creator"   style="height: 35px;width: 80px " name="app name" requeried  placeholder="请输入创建者">
                    </td>
                    <td>
                        <button class="layui-btn" id="add_app_button" >
                            <i class="layui-icon">&#xe608;</i> 添加
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="layui-col-xs6" >
            <div class="layui-bg-blue" class ="text" style="text-align: center;height: 30px">版本管理</div>
            <table class ="layui-table">
                <tr>
                    <th class ="text" style="text-align: center" bgcolor="#faebd7" >添加版本：</th>
                    <td>
                        <input id="add_version"   style="height: 35px;width: 120px " name="version type" requeried  placeholder="请输入版本号">
                    </td>
                    <td>
                        <select id="belong_product" style="width:50px;" name="select2">
                            <option>null</option>
                        </select>
                    </td>
                    <td>
                        <button class="layui-btn" id="add_app_button" >
                            <i class="layui-icon">&#xe608;</i> 添加
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



</body>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/jquery.select.js"></script>
<script type="text/javascript" src="/static/js/core.js"></script>
<script type="text/javascript" src="/static/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/static/js/jquery.grid.js"></script>
<script type="text/javascript" src="/static/js/WdatePicker.js"></script>
</html>